<section class="pt-5">
    <div class="site-container">
        <div class="row">
            <div class="col-12">
                <article class="post-1201 page type-page status-publish hentry">
                    <h4 class="entry-title" style="display: none;">Diritto di Recesso</h4><span class="vcard" style="display: none;"><span class="fn"><a href="https://bagly.it/author/tn2r475b/" title="Articoli scritti da Alex" rel="author">Alex</a></span></span><span class="updated" style="display:none">2020-11-28T17:21:15+00:00</span>
                    <div class="page-content">
                    <h4>Informazioni relative all’esercizio del diritto di recesso<br>
                    Modulo di recesso tipo</h4>
                    <p>È prevista per i consumatori la facoltà di esercitare il diritto di recesso alle condizioni riportate di seguito, dove per consumatore si intende una persona fisica che abbia sottoscritto un negozio giuridico per finalità principalmente non riconducibili alla rispettiva attività commerciale o autonoma esercitata:</p>
                    <h4>A. Informazioni relative all’esercizio del diritto di recesso</h4>
                    <h4>Diritto di recesso</h4>
                    <p>Il consumatore ha il diritto di recedere dal presente contratto entro 14 giorni senza indicarne le ragioni.</p>
                    <p>Il periodo scade dope 14 giorni dal giorni in cui Lei o un terzo, diverso dal vettore e da Lei designato, acquisisce il possesso fisico dell’ultimo bene.</p>
                    <p>Per esercitare il diritto di recesso, Lei è tenuto a informarci (Anna La Dogana via signiola 9 00133 Roma Tel.: +39 3664067958, E-Mail: info&#64;bagly.it) della sua decisione di recedere dal presente contratto tramite una dichiarazione esplicita (ad esempio lettera inviata per posta, fax o posta elettronica). A tal fine può utilizzare il modulo tipo di recesso allegato, ma non è obbligatorio.</p>
                    <p>Per rispettare il termine di recesso, è sufficiente che Lei invii la comunicazione relativa all’esercizio del diritto di recesso prima della scadenza del periodo di recesso.</p>
                    <h4>Effeti del recesso</h4>
                    <p>Se Lei recede dal presente contratto, Le saranno rimborsati tutti i pagamenti che ha effettuato a nostro favore, non sono compresi i costi di consegna, senza indebito ritardo e in ogni caso non oltre 14 giorni dal giorno in cui siamo informati della Sua decisione di recedere dal presente contratto. Detti rimborsi saranno effettuati utilizzando lo stesso mezzo di pagamento da Lei usato per la transazione iniziale, salvo che Lei non abbia espressamente convenuto altrimenti; in ogni caso, non dovrà sostenere alcun costo quale conseguenza di tale rimborso.</p>
                    <p>È nostra facoltà rifiutare il risarcimento fino ad avvenuta restituzione della merce o fino alla presentazione della documentazione attestante la restituzione della merce da parte del consumatore, a seconda della condizione che si verifica prima.</p>
                    <p>È pregato di rispedire i beni o di consegnarli a noi, senza indebiti ritardi e in ogni caso entro 14 giorni dal giorno in cui ci ha comunicato il suo recesso dal presente contratto. Il termine è rispettato se Lei rispedisce I beni prima della scadenza del periodo di 14 giorni.</p>
                    <p>Le spese dirette della spedizione di reso sono vostro carico.</p>
                    <p>Lei è responsabile solo della diminuzione del valore dei beni risultante da una manipolazione del bene diversa da quella necessaria per stabilire la natura, le caratteristiche e il funzionamento dei beni.</p>
                    <h4>Esclusione o estinzione anticipata del diritto di recesso:</h4>
                    <p>Il diritto di recesso non si applica ai seguenti contratti la fornitura di beni confezionati su misura o chiaramente personalizzati.</p>
                    <h4>Informazioni generali</h4>
                    <p>Evitare di danneggiare e contaminare i prodotti. Restituire il prodotto possibilmente nella confezione originale con tutti gli accessori e tutti gli elementi dell’imballaggio. Laddove necessario, utilizzare un involucro di protezione per la spedizione. La confezione originale non può essere usata come imballaggio principale poichè fà parte del prodotto.</p>
                    <h4>B. Modulo di recesso tipo</h4>
                    <p>Compilare e restituire il presente modulo solo se si desidera recedere dal contratto.</p>
                    <p>Destinatario:</p>
                    <p>Anna La Dogana</p>
                    <p>Via Signiola 9<br>
                    00133 Roma (RM)<br>
                    Italia<br>
                    E-Mail: info&#64;bagly.it</p>
                    <p>Con la presente io/noi (*) notifichiamo il recesso dal mio/nostro (*) contratto di vendita dei seguenti beni/servizi (*)</p>
                    <p>_______________________________________________________</p>
                    <p>_______________________________________________________</p>
                    <p>Ordinato il (*) ____________ / ricevuto il (*) __________________</p>
                    <p>________________________________________________________<br>
                    Nome del/dei consumatore(i)</p>
                    <p>________________________________________________________<br>
                    Indirizzo del/dei consumatore(i)</p>
                    <p>________________________________________________________<br>
                    Firma del/dei consumatore(i) (solo se il presente modulo è notificato in versione cartacea)</p>
                    <p>_________________________<br>
                    Data</p>
                    <p>(*) Cancellare la dicitura inutile.</p>
                    </div>
                    </article>
            </div>
        </div>
    </div>
</section>
