<section class="pt-5 pb-5">
    <div class="site-container">
        <div class="row">
            <div class="col-12">
                <article class="post-1193 page type-page status-publish hentry">
                    <h2 class="entry-title" style="display: none;">Informazioni Legali</h2><span class="vcard" style="display: none;"><span class="fn"><a href="https://bagly.it/author/tn2r475b/" title="Articoli scritti da Alex" rel="author">Alex</a></span></span><span class="updated" style="display:none">2020-05-06T19:55:12+00:00</span>
                    <div class="page-content">
                    <p>Il sito www.bagly.it è un’offerta di:</p>
                    <p><strong>La Dogana Anna<br>
                    Via Francesco Ferraironi 25/t5<br>
                    00177 Roma<br>
                    Italia</strong></p>
                    <p><strong>Contatti:</strong></p>
                    <dl>
                    <dt>Web: <a href="#">www.bagly.it</a></dt>
                    <dt>Email: <a href="mailto:info@bagly.it">info&#64;bagly.it</a></dt>
                    <dt>Tel.: +393664067958</dt>
                    <dt>Partita IVA:&nbsp;07210330580</dt>
                    <dt>Numero REA: RM-669301</dt>
                    </dl>
                    <p>Piattaforma della Commissione Europea per la risoluzione delle controversie:&nbsp;<a href="http://www.ec.europa.eu/consumers/odr">www.ec.europa.eu/consumers/odr</a></p>
                    <p>Non siamo disposti né obbligati a partecipare a una procedura di risoluzione delle controversie con qualsiasi autorità di arbitrato del consumatore.</p>
                    </div>
                    </article>
            </div>
        </div>
    </div>
</section>

