<section>
    <div class="site-container">
        <div class="row">
            <div class="col-12">
                <article class="post-1113 page type-page status-publish hentry">
                    <h2 class="entry-title" style="display: none;">Gestione dei Cookie</h2><span class="vcard" style="display: none;"><span class="fn"><a href="https://bagly.it/author/tn2r475b/" title="Articoli scritti da Alex" rel="author">Alex</a></span></span><span class="updated" style="display:none">2023-07-25T07:24:47+00:00</span>
                    <div class="page-content">
                    <p>Utilizziamo con WordPress! solo cookies tecnici, indispensabili per il funzionamento del sito. Questo tipo di cookies non necessita del consenso dei navigatori. Mentre utilizziamo cookies di terze parti per i banner pubblicitari e per raccogliere informazioni statistiche. Questo tipo di cookies necessita del consenso dei navigatori.<strong> Il consenso si intende accordato anche in modo implicito se l’utente prosegue la sua navigazione nel sito.</strong></p>
                    <p>I cookies sono dei semplici file di testo non necessariamente invasivi. Per esempio sese continui a navigare, accetterai l’uso di tali cookies! Un cookie si installerà nel tuo browser e il sistema sarà in grado di capire che tu hai già letto queste note o che comunque conosci la materia ed eviterà così di mostrarti questo fastidioso avviso tutte le volte che cambierai pagina o nelle visite successive al nostro sito.</p>
                    <p>In questo sito come detto, oltre ai cookies tecnici utilizzo cookies che profilano e registrano le abitudini di navigazione degli utenti dato che pubblico annunci pubblicitari di google adsense e raccolgo le statistiche del sito con google analytics nonchè pubblico i pulsantini di condivisione di :</p>
                    <p><span class="body-copy">Facebook:&nbsp;<a href="https://www.facebook.com/policy.php">https://www.facebook.com/policy.php</a></span></p>
                    <p><span class="body-copy">Google AdWords:&nbsp;<a href="https://support.google.com/adwords/answer/2549116?hl=en">https://support.google.com/adwords/answer/2549116?hl=en</a></span></p>
                    <p><span class="body-copy">Google Analytics:&nbsp;<a href="https://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a>.</span></p>
                    <p><span class="body-copy">Google Tag Manager:&nbsp;<a href="https://www.google.com/analytics/tag-manager/faq/">https://www.google.com/analytics/tag-manager/faq/</a></span></p>
                    <p><span class="body-copy">Google+:&nbsp;<a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></span></p>
                    <p><span class="body-copy">Pinterest:&nbsp;<a href="https://about.pinterest.com/en/privacy-policy">https://about.pinterest.com/en/privacy-policy</a></span></p>
                    <p><span class="body-copy">Tumblr:&nbsp;<a href="https://www.tumblr.com/policy/en/privacy">https://www.tumblr.com/policy/en/privacy</a></span></p>
                    <p><span class="body-copy">Twitter:&nbsp;<a href="https://twitter.com/privacy?lang=en">https://twitter.com/privacy?lang=en</a></span></p>
                    <p><span class="body-copy">YouTube:&nbsp;<a href="https://www.youtube.com/static?template=privacy_guidelines">https://www.youtube.com/static?template=privacy_guidelines</a></span></p>
                    <p>Instagram&nbsp;<a href="https://instagram.com/about/legal/privacy/before-january-19-2013/">https://instagram.com/about/legal/privacy/before-january-19-2013/</a></p>
                    <p>Visita <a href="http://www.aboutcookies.org/" target="_blank" rel="noopener">AboutCookies.org</a> per ulteriori informazioni sui cookies e su come influenzano la tua esperienza di navigazione.</p>
                    <p>È comunque possibile disabilitare i cookies direttamente dal proprio browser. Per informazioni più dettagliate in riferimento alle opzioni di disabilitazione dei cookies ecco l’elenco dei link per la configurazione dei browser.</p>
                    <p>Ulteriori informazioni sulla disabilitazione dei cookie su <a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie" target="_blank" rel="noopener">Firefox</a><br>
                    Ulteriori informazioni sulla disabilitazione dei cookie su <a href="https://www.google.com/policies/technologies/managing/" target="_blank" rel="noopener">Chrome</a><br>
                    Ulteriori informazioni sulla disabilitazione dei cookie su <a href="http://windows.microsoft.com/it-it/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank" rel="noopener">Internet Explorer</a><br>
                    Ulteriori informazioni sulla disabilitazione dei cookie su <a href="http://support.apple.com/kb/HT1677?viewlocale=it_IT&amp;locale=it_IT" target="_blank" rel="noopener">Safari</a><br>
                    Ulteriori informazioni sulla disabilitazione dei cookie su <a href="http://help.opera.com/Mac/12.10/it/cookies.html" target="_blank" rel="noopener">Opera</a></p>
                    <p><strong>Se desideri eliminare i file cookies eventualmente già presenti sul tuo computer, leggi le istruzioni del tuo browser cliccando sulla voce “Aiuto” del relativo menu.</strong></p>
                    </div>
                    </article>
            </div>
        </div>
    </div>
</section>
