<section class="pt-5 pb-5">
    <div class="site-container">
        <div class="row">
            <div class="col-12">
                <article class="post-41995 page type-page status-publish hentry">
                    <h4 class="entry-title" style="display: none;">Politica di rimborso e reso</h4><span class="vcard" style="display: none;"><span class="fn"><a href="https://bagly.it/author/tn2r475b/" title="Articoli scritti da Alex" rel="author">Alex</a></span></span><span class="updated" style="display:none">2023-07-24T09:39:08+00:00</span>
                    <div class="page-content">
                    <p><b>Questa è una pagina di campione.</b></p>
                    <h3>Panoramica</h3>
                    <p>La nostra politica di rimborso e restituzione dura 30 giorni. Se sono trascorsi 30 giorni dall’acquisto, non possiamo offrirti un rimborso completo o uno scambio.</p>
                    <p>Per poter beneficiare di un reso, il tuo articolo deve essere inutilizzato e nelle stesse condizioni in cui lo hai ricevuto. Deve anche essere nella confezione originale.</p>
                    <p>Diversi tipi di merce sono esentati dalla restituzione. Beni deperibili come cibo, fiori, giornali o riviste non possono essere restituiti. Inoltre, non accettiamo prodotti intimi o sanitari, materiali pericolosi o liquidi o gas infiammabili.</p>
                    <p>Articoli aggiuntivi non restituibili:</p>
                    <ul>
                    <li>Carte regalo</li>
                    <li>Prodotti software scaricabili</li>
                    <li>Alcuni articoli per la salute e la cura della persona</li>
                    </ul>
                    <p>Per completare il reso, richiediamo una ricevuta o una prova d’acquisto.</p>
                    <p>Si prega di non rispedire l’acquisto al produttore.</p>
                    <p>Esistono alcune situazioni in cui sono concessi solo rimborsi parziali:</p>
                    <ul>
                    <li>Libro con evidenti segni d’uso.</li>
                    <li>CD, DVD, nastri VHS, software, videogiochi, cassette o dischi in vinile che sono stati aperti.</li>
                    <li>Qualsiasi articolo non nelle sue condizioni originali, è danneggiato o manca di parti per motivi non dovuti al nostro errore.</li>
                    <li>Qualsiasi articolo restituito oltre 30 giorni dopo la consegna.</li>
                    </ul>
                    <h4>Rimborsi</h4>
                    <p>Una volta ricevuto e ispezionato il tuo reso, ti invieremo un’e-mail per informarti che abbiamo ricevuto l’articolo restituito. Ti informeremo anche dell’approvazione o del rifiuto del tuo rimborso.</p>
                    <p>Se sei approvato, il tuo rimborso verrà elaborato e un credito verrà automaticamente applicato alla tua carta di credito o al metodo di pagamento originale, entro un certo numero di giorni.</p>
                    <p><b>Rimborsi tardivi o mancanti</b></p>
                    <p>Se non hai ancora ricevuto un rimborso, controlla di nuovo il tuo conto bancario.</p>
                    <p>Quindi contatta la società della tua carta di credito, potrebbe essere necessario del tempo prima che il tuo rimborso venga registrato ufficialmente.</p>
                    <p>Quindi contatta la tua banca. Spesso c’è del tempo di elaborazione prima che venga registrato un rimborso.</p>
                    <p>Se hai fatto tutto questo e non hai ancora ricevuto il rimborso, contattaci all’indirizzo {{ '{email address}' }}.</p>
                    <p><b>vendito elementi</b></p>
                    <p>Solo gli articoli a prezzo normale possono essere rimborsati. Gli articoli in saldo non possono essere rimborsati.</p>
                    <h4>Scambi</h4>
                    <p>Sostituiamo gli articoli solo se sono difettosi o danneggiati. Se devi sostituirlo con lo stesso articolo, inviaci un’e-mail all’indirizzo {{ '{email address}' }} e invia il tuo articolo a: {{ '{physical address}' }}.</p>
                    <h4>I regali</h4>
                    <p>Se l’articolo è stato contrassegnato come regalo al momento dell’acquisto e spedito direttamente a te, riceverai un buono regalo per il valore del tuo reso. Una volta ricevuto l’articolo restituito, ti verrà inviato un buono regalo.</p>
                    <p>Se l’articolo non è stato contrassegnato come regalo al momento dell’acquisto, o se il donatore si è fatto spedire l’ordine per dartelo in un secondo momento, invieremo un rimborso al donatore e lui verrà a conoscenza del tuo reso.</p>
                    <h4>Spedizione e resi</h4>
                    <p>Per restituire il tuo prodotto, devi spedire il prodotto a: {{ '{indirizzo fisico}' }}.</p>
                    <p>Sarai responsabile del pagamento delle tue spese di spedizione per la restituzione del tuo articolo. Le spese di spedizione non sono rimborsabili. Se ricevi un rimborso, il costo della spedizione di ritorno verrà detratto dal rimborso.</p>
                    <p>A seconda di dove vivi, il tempo necessario affinché il prodotto scambiato ti raggiunga può variare.</p>
                    <p>Se stai restituendo articoli più costosi, potresti prendere in considerazione l’utilizzo di un servizio di spedizione tracciabile o l’acquisto di un’assicurazione sulla spedizione. Non garantiamo che riceveremo l’articolo restituito.</p>
                    <h4>Ho bisogno di aiuto?</h4>
                    <p>Contattaci all’indirizzo {{ '{email}' }} per domande relative a rimborsi e resi.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

